{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid" style="margin-top: 10px; margin-left: 50px;">
    <div class="row">
        <div class="col-sm">

            <form class="form-inline my-2 my-lg-0" action="{% url 'searchbar' %}">
                <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search user name"
                    aria-label="Search" default="sarvesh deshmukh">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="col-sm">
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        {% for video in video.all reversed %}
        <div class="col-md-4" style="margin-top:10px ;" >
            <div class="card">
                <div class="card-header" style="background-color: rgba(0, 217, 255, 0.055);">
                    <video width="320" height="240" controls>
                        <source src="http://127.0.0.1:8000/media//{{ video.videoAns }}" type="video/webm">
                    </video>
                </div>
                <div class="card-body">
                    <h6>User Name : {{ video.user_name }}</h6>
                    <a href="http://127.0.0.1:8000/media//{{ video.videoAns }}" class="btn btn-primary">View Analysis</a>
                    <a href="#" class="btn btn-primary">Share Video</a>
                    <hr>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}