{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid" style="margin-top: 10px; margin-left: 50px;">
    <div class="row">
        <div class="col-sm">
            
            <form class="form-inline my-2 my-lg-0" action="{% url 'searchbar' %}">
                <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search user name" aria-label="Search" default="sarvesh deshmukh">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm-3" style="text-align:center ;">
            <a class="btn btn-primary" style="text-align:center;" href="{% url 'logout' %}"
                role="button">Logout</a>
        </div>
    </div>
</div>



<div class="container-fluid" style="margin-top:20px ;margin-left: 50px;">
    <div class="row">
        <div class="col">
            <h3></h3>

        </div>
    </div>
</div>


<div class="container-fluid" style="margin-top:10px ;">
    {% for video in video.all reversed %}
{% if forloop.first %}<div class="row">{% endif %}
    <div style=" margin-left: 10px; padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;" class="col-xs-4">
        <video width="320" height="240" controls>
            <source src="https://sophia-perfectskills.herokuapp.com/media//{{ video.videoAns }}" type="video/webm">
        </video>
        <h6>User Name : {{ video.user_name }}</h6><hr>
    </div>
    {% if forloop.counter|divisibleby:3 %}
</div>
<div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}
</div>
{% endblock %}