{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container" style="margin-top:10px;">
    <div class="row">
        <div class="col-md-5">
            <h1>Assessment</h1>
        </div>
        <div class="col-md-5">
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary btn-lg" href="{% url 'allAnswer' %}" role="button">All Submissions. </a>
        </div>
    </div><hr>
</div>
<div class="container">
    <div class="row">
        {% for assessment in assessment.all %}
        <div class="col-md-4" style="margin-top:10px ;" >
            <div class="card">
                <div class="card-header" style="background-color: rgba(0, 217, 255, 0.055);">
                    {{ assessment.assessmentName }}
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">View</a>
                    <a href="#" class="btn btn-primary">Send Link</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container" style="margin-top:20px;" >
    <h3>Recent Submissions</h3><hr>
    {% for video in video.all reversed %}
    <ul>
        <a href="http://127.0.0.1:8000/media//{{ video.videoAns }}"><li>{{ video.user_name }}--{{ video.assessment_name }}</li></a>
    </ul>
    {% endfor %}
</div>
{% endblock %}